# 리스트자료형

## 1. 리스트 만들기

In [13]:
score = [90, 85, 93, 77, 88]

In [14]:
score = [80, 90, 88, 92, 77, 100, 89]

In [15]:
name = ['Alice', 'David', 'Paul']

In [16]:
L = [10, 3.5, True, 'python', [1, 3, 5]]

#### <font color="blue">빈 리스트 만들기</font>

In [18]:
A =  []
A

[]

In [19]:
B = list()
B

[]

#### <font color="blue">다른 자료형의 데이터를 리스트로 만들기</font>

#### <font color="red">리스트 ← 문자열</font>

In [22]:
name = 'Snow White'
L1 = list(name)
print(L1)

['S', 'n', 'o', 'w', ' ', 'W', 'h', 'i', 't', 'e']

#### <font color="red">리스트 ← 튜플</font>

In [23]:
odd_data = (1, 3, 5, 7, 9)
L2 = list(odd_data)
print(L2)

[1, 3, 5, 7, 9]

#### <font color="red">리스트 ←집합</font>

In [25]:
score = {90, 88, 75, 93, 85}
L3 = list(score)
print(L3)

[75, 85, 88, 90, 93]

#### <font color="red">리스트←사전</font>

In [26]:
area_code = {'서울':'02', '경기':'031', '인천':'032'}
L4 = list(area_code)
print(L4)

['서울', '경기', '인천']

#### <font color="red">리스트←range()</font>

In [27]:
L5 = list(range(1, 11, 2))
print(L5)

[1, 3, 5, 7, 9]

#### <font color="red">리스트←reversed()</font>

In [28]:
L6 = list(reversed([5, 7, 9]))
print(L6)

[9, 7, 5]

#### <font color="blue">두 리스트가 같은지 비교하기</font>

In [29]:
A = [1, 3, 5]
B = [3, 1, 5]
C = [1, 1, 3, 5]
D = [1, 3, 5]
A == B, A == C, A == D

(False, False, True)

## 2. 리스트 인덱싱(indexing), 슬라이싱(slicing)

In [1]:
number = [7, 9, 0, 3, 8, 5, 1, 6, 4, 2]

In [2]:
number[2:6]

[0, 3, 8, 5]

In [3]:
number[9:4]

[]

In [4]:
number[:5]

[7, 9, 0, 3, 8]

In [5]:
number[5:]

[5, 1, 6, 4, 2]

In [6]:
number[3:8:2]

[3, 5, 6]

In [7]:
number[-8:-2:3]

[0, 5]

In [8]:
number[:8:-3]

[2]

In [9]:
number[::-2]

[2, 6, 5, 3, 9]

In [10]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']

In [11]:
color[2:5]

['green', 'white', 'orange']

In [12]:
color[:3]

['red', 'blue', 'green']

In [13]:
color[4:]

['orange', 'purple', 'black']

In [14]:
color[-2:-5]

[]

In [15]:
color[-5:-2]

['green', 'white', 'orange']

In [16]:
color[:-1]

['red', 'blue', 'green', 'white', 'orange', 'purple']

In [17]:
color[1:6:1]

['blue', 'green', 'white', 'orange', 'purple']

In [18]:
color[-2:-6:-1]

['purple', 'orange', 'white', 'green']

In [19]:
color[:5:2]

['red', 'green', 'orange']

In [20]:
color[:5:-2]

['black']

In [21]:
color[::3]

['red', 'white', 'black']

In [22]:
color[::-1]

['black', 'purple', 'orange', 'white', 'green', 'blue', 'red']

## 3. 리스트는 mutable 객체입니다

#### 인덱싱을 이용하여 리스트 수정하기

In [25]:
score = [80, 90, 95, 87, 75]

In [26]:
id(score)

2426625504584

In [27]:
score[3] = 89

In [28]:
print(score)

[80, 90, 95, 89, 75]

In [29]:
id(score)

2426625504584

In [31]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1] = 'brown'
color

['red', 'brown', 'green', 'white', 'orange', 'purple', 'black']

In [32]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1] = ['gray', 'yellow']
color

['red', ['gray', 'yellow'], 'green', 'white', 'orange', 'purple', 'black']

In [33]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[4] = 100
color

['red', 'blue', 'green', 'white', 100, 'purple', 'black']

#### 스라이싱을 이용하여 리스트 수정하기

In [34]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[2:5] = ['brown', 'gray']
color

['red', 'blue', 'brown', 'gray', 'purple', 'black']

In [35]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[2:5] = 'brown'
color

['red', 'blue', 'b', 'r', 'o', 'w', 'n', 'purple', 'black']

In [36]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1:5] = (100, 77, 50)
color

['red', 100, 77, 50, 'purple', 'black']

In [37]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[4:6] = {1, 2, 3}
color

['red', 'blue', 'green', 'white', 1, 2, 3, 'black']

In [38]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1:5] = {'NY':'New York', 'CA':'California'}
color

['red', 'NY', 'CA', 'purple', 'black']

In [39]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[3:5] = 100        # 정수 하나로 슬라이싱 부분을 대체하려면 에러 발생(정수는 iterable이 아님)
color

TypeError: can only assign an iterable

In [40]:
score = [80, 90, 88, 92, 77, 75, 83, 65, 72, 86]
score[2:9:3]=[100, 99, 98]
score

[80, 90, 100, 92, 77, 99, 83, 65, 98, 86]

## 4. 리스트에 +, *, in, not in, del 연산자 사용하기

In [41]:
L = [1, 3, 5, 7, 9]; M = [2, 4, 6, 8, 10]
L + M

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [42]:
L, M

([1, 3, 5, 7, 9], [2, 4, 6, 8, 10])

In [43]:
K = L + M
K

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [44]:
L = [1, 3, 5]
M = [10, 20]

In [45]:
L += M

In [46]:
L, M

([1, 3, 5, 10, 20], [10, 20])

In [47]:
M *= 3
M

[10, 20, 10, 20, 10, 20]

In [48]:
L = [2, 4, 6, 8]

In [49]:
6 in L

True

In [50]:
7 not in L

True

In [51]:
data = [10, 20, 30, 40]
del data[2]
print(data)

[10, 20, 40]

In [52]:
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
del data[3:7]
print(data)

[0, 1, 2, 7, 8, 9]

In [53]:
L = [1, 2, 3]
del L
L

NameError: name 'L' is not defined

## 5. 리스트에 함수 적용하기 - len(), max(), min(), sum(), sorted(), reversed()

In [54]:
L = [3, 4, 6, 1, 2, 7, 5]
len(L)

7

In [55]:
max(L)

7

In [56]:
min(L)

1

In [57]:
sum(L)

28

In [59]:
L = [3, 4, 6, 1, 2, 7, 5]
S = sorted(L)              # 정렬된 리스트를 반환합니다.
print(S)
print(L)                   # 원래 리스트는 변하지 않습니다.

[1, 2, 3, 4, 5, 6, 7]
[3, 4, 6, 1, 2, 7, 5]

In [61]:
L = [3, 4, 6, 1, 2, 7, 5]
R = reversed(L)
print(R)
V= list(R)
print(V)

<list_reverseiterator object at 0x00000234FE746358>
[5, 7, 2, 1, 6, 4, 3]

In [62]:
# CODE 48

data = [0, 3, 8, 10, 22, 55, 9, 1, 25, 30]
data[0] = sum(data[1:])
print(data)

[163, 3, 8, 10, 22, 55, 9, 1, 25, 30]

In [65]:
# CODE 49 코드 1

import sys
L = [1, 2, 3, 2, 1]
for i in range(len(L) // 2 + 1):
    if L[i] != L[len(L) -1 -i]:
        print(False)
        sys.exit(0)
print(True)

True

In [64]:
# CODE 49 코드 2

L = [1, 2, 3, 2, 1]
LT = list(reversed(L))
print(L ==  LT)

True

In [67]:
# CODE 49 코드 3

L = [1, 2, 3, 2, 1]
print(L == L[::-1])

True

## 6. 리스트 메소드

In [68]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### <font face="굴림" color="blue">리스트에 데이터 추가하기 - append(), insert()</font>

###### <font color="red">append()</font>

In [69]:
L = [6, 8, 2, 9]
y = L.append(7)
print(L)
print(y)

[6, 8, 2, 9, 7]
None

In [70]:
L = ['red', 'blue']
y = L.append('green')
print(L)
print(y)

['red', 'blue', 'green']
None

In [71]:
M = []
M.append(3)
M.append(9)
M.append(7)
print(M)

[3, 9, 7]

In [72]:
L = [1, 2, 3]
L.append([4, 5])
print(L)
len(L)

[1, 2, 3, [4, 5]]

4

In [73]:
# CODE 50

score = []
for i in range(5):                              # 5회 루프를 수행합니다.
    x = int((input('성적을 입력하세요 : ')))    # 성적을 입력받습니다.
    score.append(x)                             # 입력받은 성적을 score 리스트에 추가합니다.
print()                                         # 한 줄띄기
print('최고 성적 :', max(score))                # 리스트 score에서 가장 좋은 성적을 출력합니다.

성적을 입력하세요 : 80
성적을 입력하세요 : 90
성적을 입력하세요 : 77
성적을 입력하세요 : 94
성적을 입력하세요 : 85

최고 성적 : 94

In [74]:
# CODE 51 코드 1

names = []
while True:
    name = input('Enter name : ')
    if name == 'none':
        break
    names.append(name)
print(names)

Enter name : Alice
Enter name : Paul
Enter name : Tom
Enter name : none
['Alice', 'Paul', 'Tom']

In [75]:
# CODE 51 코드 2

names =[]
while True:
    name = input('Enter name : ')
    if name == 'none':
        break
    names += [name]
print(names)

Enter name : Alice
Enter name : Paul
Enter name : Tom
Enter name : none
['Alice', 'Paul', 'Tom']

###### <font color="red">insert()</font>

In [77]:
L = ['white', 'black', 'blue', 'red']
L.insert(2, 'green')
print(L)

['white', 'black', 'green', 'blue', 'red']

In [79]:
M = [1, 3, 5, 7]
M.insert(2, [2, 4, 6])
M

[1, 3, [2, 4, 6], 5, 7]

In [80]:
M.insert(0, 100)
M

[100, 1, 3, [2, 4, 6], 5, 7]

#### <font face="굴림" color="blue">리스트와 iterable 자료형 연결하기 - extend()</font>

In [ ]:
#### <font face="굴림" color="blue">리스트에서  데이터 삭제하기 - pop(), remove(), clear()</font>
#### <font face="굴림" color="blue">리스트 복사하기 - copy()</font>
#### <font face="굴림" color="blue">리스트에 있는 데이터 개수 세기 - count()</font>
#### <font face="굴림" color="blue">리스트에 있는 데이터 위치 찾기 - index()</font>
#### <font face="굴림" color="blue">리스트 역순으로 만들기 - reverse()</font>

In [ ]:
## 7. 리스트 안에 리스트 구조
## 8. 리스트를 이용한 언패킹(unpacking)

## 9. 리스트 안에 for 반복문 사용하기(List Complehension)

In [1]:
A = []
for x in range(1, 11):
    A.append(x*x)
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
A = [x * x for x in range(1, 11)]
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
A = [x * x for x in range(1, 11)]
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
B = [2 ** i for i in range(1, 11)]
print(B)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [6]:
C = [n for n in A if n % 2 == 0]
print(C)

[4, 16, 36, 64, 100]

In [7]:
L = [x * y for x in range(1, 4) for y in range(3, 7)]
print(L)

[3, 4, 5, 6, 6, 8, 10, 12, 9, 12, 15, 18]

In [8]:
# CODE 55

L = [4, 7, 8, 1, 2, 5]
M = [x for x in L if x % 2 != 0]
print(M)

[7, 1, 5]

In [9]:
L = [3, -1, -7, 5, 10, -11, 14, 2, -8, -5]
M = [abs(n) for n in L]
print(M)

[3, 1, 7, 5, 10, 11, 14, 2, 8, 5]

In [11]:
words = ['hello', 'python', 'beautiful', 'bookshelf', 'programming']
m = max([len(x) for x in words])
print(m)

11

In [12]:
data = ['a123', '500t', '135', 'a2b5', '123!', '100', '120*', '150']
result = [int(x) for x in data if x.isdigit()]
print(result)

[135, 100, 150]