# 리스트자료형

## 1. 리스트 만들기

In [13]:
score = [90, 85, 93, 77, 88]

In [14]:
score = [80, 90, 88, 92, 77, 100, 89]

In [15]:
name = ['Alice', 'David', 'Paul']

In [16]:
L = [10, 3.5, True, 'python', [1, 3, 5]]

#### <font color="blue">빈 리스트 만들기</font>

In [18]:
A =  []
A

[]

In [19]:
B = list()
B

[]

#### <font color="blue">다른 자료형의 데이터를 리스트로 만들기</font>

#### <font color="red">리스트 ← 문자열</font>

In [22]:
name = 'Snow White'
L1 = list(name)
print(L1)

['S', 'n', 'o', 'w', ' ', 'W', 'h', 'i', 't', 'e']

#### <font color="red">리스트 ← 튜플</font>

In [23]:
odd_data = (1, 3, 5, 7, 9)
L2 = list(odd_data)
print(L2)

[1, 3, 5, 7, 9]

#### <font color="red">리스트 ←집합</font>

In [25]:
score = {90, 88, 75, 93, 85}
L3 = list(score)
print(L3)

[75, 85, 88, 90, 93]

#### <font color="red">리스트←사전</font>

In [26]:
area_code = {'서울':'02', '경기':'031', '인천':'032'}
L4 = list(area_code)
print(L4)

['서울', '경기', '인천']

#### <font color="red">리스트←range()</font>

In [27]:
L5 = list(range(1, 11, 2))
print(L5)

[1, 3, 5, 7, 9]

#### <font color="red">리스트←reversed()</font>

In [28]:
L6 = list(reversed([5, 7, 9]))
print(L6)

[9, 7, 5]

#### <font color="blue">두 리스트가 같은지 비교하기</font>

In [29]:
A = [1, 3, 5]
B = [3, 1, 5]
C = [1, 1, 3, 5]
D = [1, 3, 5]
A == B, A == C, A == D

(False, False, True)

## 2. 리스트 인덱싱(indexing), 슬라이싱(slicing)

In [ ]:
## 3. 리스트는 mutable 객제입니다
## 4. 리스트에 +, *, in, not in, del 연산자 사용하기
## 5. 리스트에 함수 적용하기 - len(), max(), min(), sum(), sorted(), reversed()
## 6. 리스트 메소드
## 7. 리스트 안에 리스트 구조
## 8. 리스트를 이용한 언패킹(unpacking)

## 9. 리스트 안에 for 반복문 사용하기(List Complehension)

In [1]:
A = []
for x in range(1, 11):
    A.append(x*x)
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
A = [x * x for x in range(1, 11)]
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
A = [x * x for x in range(1, 11)]
print(A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
B = [2 ** i for i in range(1, 11)]
print(B)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [6]:
C = [n for n in A if n % 2 == 0]
print(C)

[4, 16, 36, 64, 100]

In [7]:
L = [x * y for x in range(1, 4) for y in range(3, 7)]
print(L)

[3, 4, 5, 6, 6, 8, 10, 12, 9, 12, 15, 18]

In [8]:
# CODE 55

L = [4, 7, 8, 1, 2, 5]
M = [x for x in L if x % 2 != 0]
print(M)

[7, 1, 5]

In [9]:
L = [3, -1, -7, 5, 10, -11, 14, 2, -8, -5]
M = [abs(n) for n in L]
print(M)

[3, 1, 7, 5, 10, 11, 14, 2, 8, 5]

In [11]:
words = ['hello', 'python', 'beautiful', 'bookshelf', 'programming']
m = max([len(x) for x in words])
print(m)

11

In [12]:
data = ['a123', '500t', '135', 'a2b5', '123!', '100', '120*', '150']
result = [int(x) for x in data if x.isdigit()]
print(result)

[135, 100, 150]