# Chapter 8

## 1. for 반복문의 기본 형태

## 2. 문자열과 for 반복문

In [3]:
string = 'star'
i = 0
while i < len(string):
    print(string[i])
    i += 1

s
t
a
r

In [11]:
# CODE 34

name = 'Alice'         
for x in name:          # 문자열 name에서 문자 한 개씩 x에 넣고 for 블록 수행 
    if x.isupper():     # if c.isupper()==True: 와 같습니다.
        print(x)
    else:               # x가 대문자가 아니라면, 대문자로 변환해서 출력합니다.
        print(x.upper())

A
L
I
C
E

In [13]:
name = 'AliCe'
for x in name:
    print(x.upper())

A
L
I
C
E

In [18]:
# CODE 35

string = input('Enter string : ')            # 문자열을 입력받습니다.
vowel_count = 0                              # 모음의 개수
con_count = 0                                # 자음의 개수
for s in string:                             # 입력받은 string의 문자가 하나씩 순서대로 s에 저장됩니다.
    if s.lower() in 'aeiou':                 # s를 소문자로 바꾸었을 때 'aeiou' 중에 하나인 경우.
        vowel_count += 1
    else:                                    # s가 자음인 경우
        con_count += 1
print('number of vowles : {}'.format(vowel_count))     # 결과 출력
print('number of consonants : {}'.format(con_count))

Enter string : proGRAMMER
number of vowles : 3
number of consonants : 7

In [1]:
# CODE 36

string = input('Enter string : ')          # 문자열을 입력받습니다.
new_string= ''                             # 빈 문자열을 만들어 놓습니다.

for ch in string:                          # 문자열 string에서 한 문자씩 ch에 저장하고 루프를 수행합니다.
    if ch.islower():                       # ch가 소문자인 경우
        new_string += ch.upper()           # 대문자로 변환하여 new_string에 추가합니다.
    else:                                  # ch가 대문자인 경우
        new_string += ch.lower()           # 소문자로 변환하여 new_string에 추가합니다.
print(new_string)

Enter string : heLLo wORld
HEllO WorLD

In [2]:
string = input('Enter string : ')
new_string = string.swapcase()
print(new_string)

Enter string : heLLo wORld
HEllO WorLD

## 3. 리스트와 for 반복문

In [4]:
for x in ['red', 'blue', 'white']:
    print(x)

red
blue
white

In [5]:
# CODE 37

friends = ['Paul', 'David', 'Alice', 'Jenny']

for friend in friends:
    print('Welcome! {}.'.format(friend))

Welcome! Paul.
Welcome! David.
Welcome! Alice.
Welcome! Jenny.

In [6]:
# CODE 38

books = ['alice in wonderland',
        'peter pan',
        'snow white',
        'sleeping beauty',
        'goldilocks and the three bears']

for book in books:
    print(book.title())

Alice In Wonderland
Peter Pan
Snow White
Sleeping Beauty
Goldilocks And The Three Bears

In [9]:
# CODE 39

words = ['hello', 'computer', 'bookshelf', 'chair', 'bicycle']
longest = len(words[0])          # longest - 첫 번째 단어('hello')의 길이를 갖습니다.
l_word = words[0]               # l_word - 첫 번째 단어('hello')를 갖습니다.

for w in words[1:]:             # words의 두 번째 단어부터 끝까지 차례로 w가 됩니다.
    if len(w) > longest:        # w의 길이가 lognest보다 더 길다면
        l_word = w              # w를 l_word로 대체합니다.
        longest = len(w)        # w의 길이가 longest가 됩니다.
        
print('longest word : {}'.format(l_word))
print('length : {}'.format(longest))

longest word : bookshelf
length : 9

In [10]:
# CODE 40

numbers = [4, 10, 9, -5, 5, 1, 8, 2, -2]
total = 0

for n in numbers:          # numbers의 원소들을 차례로 n에 저장합니다.
    if n % 2 == 0:         # n이 짝수라면 total에 더해 줍니다.
        total += n
print('total :', total)

total : 22

In [1]:
# CODE 41

print('What is the capital of Korea?')
cities = ['Berlin', 'Seoul', 'Tokyo', 'Patis']

no = 1                                        # 일련 번호를 붙이기 위한 변수입니다.
for city in cities:                           # 리스트 cities에 대해서 for 반복문을 수행합니다.
    print('{}. {}'.format(no, city))          # '번호. 도시'의 형태로 출력합니다.
    no += 1                                   # 일련번호를 1 증가시킵니다.
    
answer = int(input('Choose an answer : '))    # 답을 입력받습니다.
if answer == 2:                               # 2번이 답입니다.
    print('Correct!')
else:
    print('Incorrect!')

What is the capital of Korea?
1. Berlin
2. Seoul
3. Tokyo
4. Patis
Choose an answer : 2
Correct!

## 4. 튜플과 for 반복문

In [2]:
T = (100, 200, 300)
for x in T:
    print(x)

100
200
300

## 5. 집합과 for 반복문

In [4]:
sports = {'baseball', 'soccer', 'tennis', 'basketball'}
for sport in sports:
    print('{} is my favorite sports'.format(sport))

baseball is my favorite sports
soccer is my favorite sports
tennis is my favorite sports
basketball is my favorite sports

In [5]:
# CODE 42

A = {'apple', 'orange', 'strawberry', 'watermelon'}
B = {'strawberry', 'watermelon', 'kiwi'}

for fruit in A:         # 집합 A에 있는 원소를 하나씩 변수 fruit에 넣습니다.
    if fruit in B:      # 만약에 fruit이 집합 B에도 있는지 확인합니다.
        print('We both like {}.'.format(fruit))

We both like watermelon.
We both like strawberry.

## 6. 사전과 for 반복문

In [1]:
info = {'name':'alice',
        'age':20,
        'phone':'010-111-1111'}

for x in info:
    print(x)

name
age
phone

## 7. range() 함수

In [3]:
a = range(5)         # a는 range(5)의 반환값

In [4]:
print(a)

range(0, 5)

In [5]:
type(a)

range

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [9]:
set(range(5))

{0, 1, 2, 3, 4}

In [12]:
list(range(3))          # 0부터 2까지의 정수

[0, 1, 2]

In [13]:
list(range(11))         # 0부터 10까지의 정수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(range(5, 10))      # 5부터 9까지의 정수

[5, 6, 7, 8, 9]

In [15]:
list(range(2, 15, 3))   # 2부터 14까지 3칸 간격

[2, 5, 8, 11, 14]

In [17]:
list(range(10, 5))      # 첫 번째 인수가 두 번째 인수보다 크면 [] 반환

[]

In [16]:
list(range(10, 5, -2))  # 첫 번째 인수가 두 번째 인수보다 클 때, 세 번째 인수가 음수인 경우에는 결과가 있습니다.

[10, 8, 6]

In [22]:
list(range(, 10, 2))

SyntaxError: invalid syntax (<ipython-input-22-97028381b524>, line 1)

In [21]:
list(range(10, , 1))

SyntaxError: invalid syntax (<ipython-input-21-43d5cc8b74d4>, line 1)

In [24]:
for a in range(5):
    print(a, end=' ')

0 1 2 3 4

In [25]:
# while

total = 0
a = 1
while a <= 10:
    total += a
    a += 1
print(total)

55

In [26]:
# for

total = 0
for a in range(11):
    total += a
print(total)

55

In [27]:
total = 0
for x in range(10, 16):
    total += x
print(total)

75

In [28]:
total = 0

for x in range(0, 101, 3):
    total += x
print(total)

1683

In [30]:
# CODE 43

n = int(input('Enter one integer : '))          # 하나의 정수 n을 입력받습니다.
for a in range(1, n+1):                         # 변수 a는 1부터 n까지 1씩 증가하면서 루프를 수행합니다.
    if n % a == 0:                              # n%a가 0이면 a는 n의 약수입니다.
        print(a, end=' ')

Enter one integer : 30
1 2 3 5 6 10 15 30

In [31]:
name = 'python'
for n in name:
    print(n)

p
y
t
h
o
n

In [33]:
name = 'python'
for x in range(len(name)):
    print(x)

0
1
2
3
4
5

In [34]:
score = [80, 90, 88, 93, 75]
for s in score:
    print(s)

80
90
88
93
75

In [36]:
score = [80, 90, 88, 93, 75]
for i in range(len(score)):
    print(score[i])

80
90
88
93
75

In [42]:
score = [80, 90, 88, 93, 75]
for s in score:
    s += 5
print(score)

[80, 90, 88, 93, 75]

In [43]:
score = [80, 90, 88, 93, 75]
for i in range(len(score)):
    score[i] += 5
print(score)

[85, 95, 93, 98, 80]

## 8. for 반복문 내에서 break 사용하기

In [44]:
for x in [2, 9, -3, 8, 0, -2, 1]:
    if x == 0:
        break
    print(x)

2
9
-3
8

## 9. for 반복문 내에서 continue 사용하기

In [45]:
for x in [5, 7, 0, 8, 0, 1]:
    if x == 0:
        continue
    print('x : {}'.format(x))

x : 5
x : 7
x : 8
x : 1

## 10. for 반복문에서 else 구문 사용하기

In [46]:
for x in [5, 7, 3, 8, 2, 1]:
    if x == 0:
        break
    print(x)
else:
    print('this is else block')

5
7
3
8
2
1
this is else block

In [47]:
for x in [5, 7, 0, 8, 0, 1]:
    if x == 0:
        break
    print('x : {}'.format(x))
else:
    print('this is else block')

x : 5
x : 7

## 11. 중첩된 for 반복문

In [48]:
for y in range(1, 11):
    for x in range(1,11):
        print('{:4d}'.format(y*x), end=' ')
    print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [49]:
# CODE 44

A = {'apple', 'orange', 'strawberry', 'watermelon', 'tomato'}
B = {'strawberry', 'tomato', 'kiwi'}

for fruit1 in A:
    for fruit2 in B:
        if fruit1 == fruit2:
            print('We both like {}.'.format(fruit1))

We both like strawberry.
We both like tomato.

In [50]:
# CODE 45

n = int(input('Enter one integer : '))

for a in range(1, n+1):
    print('[{}] : '.format(a), end = ' ')
    for b in range(1, a+1):
        if a % b == 0:
            print('{}'.format(b), end = ' ')
    print()

Enter one integer : 5
[1] :  1
[2] :  1 2
[3] :  1 3
[4] :  1 2 4
[5] :  1 5

In [52]:
# CODE 46

L = ['heLLO123', '010-111-1234Alice', 'Y2018M10D11']

for word in L:
    new_word = ''
    for w in word:
        if w.isalpha():
            new_word += w
    print(new_word)

heLLO
Alice
YMD

In [53]:
# CODE 47
# while 안에 for 루프

L = ['heLLO123', '010-111-1234Alice', 'Y2018M10D11']
i = 0
while i < len(L):           # L(0), L(1), L(2), L(3) 차례로 루프를 수행합니다.
    new_word = ''           # new_word에 문자만을 찾아서 계속 연결합니다.
    for w in L[i]:          # 리스트 L에 저장된 각 단어에 대해서 for 루프를 수행합니다.
        if w.isalpha():
            new_word += w
    print(new_word)
    i += 1

heLLO
Alice
YMD

In [55]:
# CODE 47
# for 안에 while 루프

L = ['heLLO123', '010-111-1234Alice', 'Y2018M10D11']

for word in L:               # L에 저장된 단어들이 하나씩 word가 됩니다.
    new_word = ''
    i = 0
    while i < len(word):
        if word[i].isalpha():
            new_word += word[i]
        i += 1
    print(new_word)

heLLO
Alice
YMD

## 12. reversed() 함수에 대한 for 반복문

#### 문자열에 reversed() 함수 적용하기

In [57]:
name = 'Alice'

In [58]:
reversed(name)

In [59]:
list(reversed(name))

['e', 'c', 'i', 'l', 'A']

In [60]:
tuple(reversed(name))

('e', 'c', 'i', 'l', 'A')

In [62]:
name = 'Alice'

for c in reversed(name):
    print(c, end = '')

ecilA

#### 리스트에 reversed() 함수 적용하기

In [63]:
score = [80, 90, 93, 77]

In [64]:
reversed(score)

In [65]:
list(reversed(score))

[77, 93, 90, 80]

In [67]:
tuple(reversed(score))

(77, 93, 90, 80)

In [68]:
score = [80, 90, 93, 77]
for s in reversed(score):
    print(s, end = ' ')

77 93 90 80

#### 튜플에 reversed() 함수 적용하기

In [71]:
subjects = ('korean', 'english', 'math')

In [72]:
reversed(subjects)

In [73]:
list(reversed(subjects))

['math', 'english', 'korean']

In [74]:
tuple(reversed(subjects))

('math', 'english', 'korean')

In [75]:
subjects = ('korean', 'english', 'math')

for sub in reversed(subjects):
    print(sub, end = ' ')

math english korean

## 13. 정리

# 프로그래밍 연습문제

In [76]:
# 연습문제 25

word = input('Enter one string : ')
ch = input('Enter one character : ')

count = 0
for w in word:
    if w == ch:
        count += 1
print('count : {}'.format(count))

Enter one string : programming
Enter one character : m
count : 2

In [1]:
# 연습문제 26

string = input('Enter one string : ')
new_string = ''

for c in string:
    if not c.isalpha():
        new_string += c
        
print('result : {}'.format(new_string))

Enter one string : hello123**
result : 123**

In [3]:
# 연습문제 27

L = [90, 90, 88, 92, 73, 100, 77, 80, 95]
count = 0

for score in L:
    if score >= 90:
        count += 1
print('L : {}'.format(L))
print('count : {}'.format(count))

L : [90, 90, 88, 92, 73, 100, 77, 80, 95]
count : 5

In [5]:
# 연습문제 28

a = int(input('Enter a : '))
b = int(input('Enter b : '))
for x in range(1, 1001):
    if x % a == 0 and x % b == 0:
        print(x, end = ' ')

Enter a : 9
Enter b : 20
180 360 540 720 900

In [6]:
# 연습문제 29

L = ['apple', 'APPle', 'Melon', 'melon', 'Grape', 'kiwi', 'appLE', 'Kiwi']
word = input('Enter word to find : ')

for i in range(len(L)):
    if L[i].lower() == word:
        print('{} - {}'.format(i, L[i]))

Enter word to find : apple
0 - apple
1 - APPle
6 - appLE

In [8]:
# 연습문제 30

word1 = input('Enter first word : ')
word2 = input('Enter second word : ')

for i in range(len(word1)):
    if word1[i] == word2[i]:
        print('{} is at {}'.format(word1[i], i))

Enter first word : beaver
Enter second word : weaver
e is at 1
a is at 2
v is at 3
e is at 4
r is at 5

In [17]:
# 연습문제 31

n = int(input('Enter n : '))

flag = False
for i in range(1, n+1):
    if i ** 2 == n:
        flag = True
        break
if flag:
    print(n, 'is perfect square number of', i)
else:
    print(n, 'is not perfect square number')

Enter n : 7
7 is not perfect square number